@using System.IO

@{
    ViewData["Title"] = "Upload";
}

<h2>@ViewData["Title"]</h2>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Select File:</label>
        <input type="file" name="file" id="file" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

<ul>
    @if (Model != null)
    {
        foreach (var file in Model)
        {
            var fileInfo = new FileInfo(file);
            <li><a href="@Url.Action("View", "File", new { fileName = fileInfo.Name })">@fileInfo.Name</a></li>
        }
    }
</ul>
